[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.11.1"
django = "==6.0.3"
iniconfig = "==2.3.0"
packaging = "==26.0"
pluggy = "==1.6.0"
pygments = "==2.19.2"
pytest = "==9.0.2"
sqlparse = "==0.5.5"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
