{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="center-page">
        <h1>Chupi!</h1>
        <p style="text-align: center;">A work-in-progress app by Ramon Ortega, Chiara Savoretti, Samuel Marcano, Teena Singh, and Francisco de la Esp.</p>
        <h1></h1>
        <button type="submit" id="signup-btn" background-color: #4CAF50; color: white;" onclick="startSignup()">
            Start Game
        </button>
    </div>
    
    <script>
        function startSignup() {
            window.location.href = "{% url 'signup' %}";
        }
    </script>
{% endblock %}